.container-lg {
    background-color: #445162;
    padding-bottom: 30px;
}

h1,
img,
p {
    padding: 50px;
    font-size: 72px;
    font-weight: bold;
    color: #FEFFFF;
}

p {
    font-size: 28px;
}

img {
    width: 350px;
    height: 350px;
    margin: 20px 4rem 0px 0px;
    border: 1px solid #445162;
    border-radius: 150px;
    background-color: #fff;
}

.container h1,
.container img,
.container p {
    padding: 30px;
    font-size: 28px;
    font-weight: bold;
    color: #445162;
}

.container img {
    margin-top: 10rem;
    background-color: #445161;
}

.container-lg h1 {
    text-align: center;
    color: white;
}

input,
textarea {
    width: 95%;
    border-radius: 10px;
    padding-left: 20px;
    margin: 10px 0 10px 0;
}

textarea p {
    width: 0;
}

.YourName {
    text-align: center;
    font-size: 32px;
    margin-left: 10rem;
}

.link {
    padding: 0 0 10px 60px;
}

.text {
    font-size: 32px;
    margin-left: 11rem;
}

.text p {
    padding: 0;
}

.text {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center
}

.text button {
    display: block;
    width: 200px;
}

textarea {
    height: 120px;
    font-size: 32px;
}

button {
    background-color: #FEFFFF;
    color: #445162;
    border-radius: 20px;
    padding: 0px 50px;
    margin-left: 10rem;

}

.block-icon {
    float: right;
}

.block-icon .col-xl-2 {
    width: 96%;
    margin-top: -9.5rem;
}

.resource {
    color: black;
    background-color: #fff;
    font-size: 40px;
    border: 1px solid #808080;
    border-radius: 50px;
    padding: 10px 15px;
    display: inline-flex;
    float: right;
    margin: 20px;
}

@media (max-width: 1200px) {

    .container-lg .row,
    .container-lg h1 {
        text-align: center;
    }

    .container-lg p {
        text-align: start;
    }

    img {
        margin: 0;
    }

    .container p {
        text-align: start;
    }

    .container .row {
        text-align: center;
    }

    .container img {
        margin: 0 0 1rem 0;
    }

    .YourName,
    .text {
        text-align: start;
        margin-bottom: 1rem;
        margin-left: 1rem;
        width: 100%;
    }

    textarea {
        width: 195%;
    }

    .src {
        display: none;
    }

    .block-icon {
        text-align: start;
        margin-bottom: 20px;
    }

    .block-icon .col-xl-2 {
        width: 79%;
        margin-top: 2rem;
        text-align: center;
    }


}

@media (max-width: 426px) {
    textarea {
        width: 95%;
    }

    .text button {
        margin-left: 7rem;
    }

}
